@import "./variables";

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

.app {
	height: 100vh;
	max-height: 100vh;
	width: 100vw;
	background-color: $background-color;
}

.settings-wrapper{
	position: fixed;
	width: 100%;
	top: 0;
}